<h1>
  <mat-icon>edit</mat-icon>
  <span>Feature</span>
  <mat-icon>edit</mat-icon>
</h1>

<div class="main-section">

  <div class="box">
    <div class="content">

      <img src="./assets/icon_funnel.svg">
      <p>우리 동네에 분포한 다양한 직군의 개발자들과의 소통을 나눌 수 있습니다.</p>

    </div>
  </div>
  <div class="box">
    <div class="content">

      <img src="./assets/icon_meetup.svg">      
      <p>우리 동네에서 스터디 모임, 모두 모여서 각자 코딩 모임, 네트워킹 밋업이 쉬워집니다.</p>

    </div>
  </div>
  <div class="box">
    <div class="content">

      <img src="./assets/icon_portfolio.svg">      
      <p>정해진 날짜와 특정 지역에 분포한 네트워킹이 아닌 이제 우리 동네에서도 가벼운 네트워킹 모임을 형성할 수 있습니다.</p>

    </div>
  </div>
  <div class="box">
    <div class="content">

      <img src="./assets/icon_parttime.svg">      
      <p>네트워킹 모임을 위해 멀리가지 않아도 된다는 시간적 여유와 안정을 통해 효율적인 시너지를 안겨줍니다.</p>

    </div>
  </div>
  <div class="box">
    <div class="content">

      <img src="./assets/icon_network.svg">
      <p>이제 멀리 가지 않아도 우리 동네에서 다양한 각계 각군의 개발자들과의 네트워킹을 가질 수 있습니다.</p>

    </div>    
  </div>
  <!--<div class="box">
    <div class="content"></div>    
  </div>-->

</div>