<md-toolbar class="toolbar-wrapper" color="primary">
    <button md-button (click)="onMain()">
        <md-icon>place</md-icon> Developers Ground
    </button>

    <div class="desktop-toolbar">
        <button md-button>
            개발자 등록
        </button>
        <button md-button>
            주변 밋업
        </button>
    </div>

    <span class="fill-spacer"></span>

    <div class="desktop-toolbar">
        <button md-button>
            로그인
        </button>
    </div>    
    <span class="mobile-toolbar">        
        <button md-button>
            <md-icon>menu</md-icon>
        </button> 
    </span>

</md-toolbar>