.main-section{ 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;    
            flex-flow: row wrap;
    margin:auto;
    height: 800px;
    color: #4a4a4a;

}

.a,
.b{
    -webkit-flex: 1 100%;
            flex: 1 100%;
}

.box.a img{
    max-height: 450px;
}

.b{ 
    text-align: center;
}

.box.b h2{
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

.box.b button{ 
    border-radius: 100px;
    padding: 12.5px 55px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #4E2A84;
    color :#4E2A84;
    font-weight: 500;    
}

.b-box-content{
    margin-bottom:10%;
}

.main-section md-tab-group{
    width:100%;
}

@media(max-width: 460px){
    .main-section{
        width: 98%;
    }
    
}

@media(min-width: 700px){
    
    .main-section{
        width:85%;
        height: 500px;
    }

    .a{
        -webkit-flex : 2;
                flex : 2;
    }
    .b{
        -webkit-flex : 1;
                flex : 1;
    }

    .a{ order : 2 }
    .b{ order : 1 }

    .box.a img{
        width: 100%;
        height: 500px;
    }
    
    .b-box-content{
        margin-top:25%;
        text-align: left;        
    }

    .box.b button{
        border: 0;
        background: #4E2A84;
        color :#fff;
        font-weight: 400; 
    }

}

@media(min-width: 350px){
    .main-title{
        top: 40%;
    }
    
} 