<md-toolbar class="toolbar-wrapper">
    <button class="toolbar-main" md-button (click)="this.core.onRouter('/main')">
        <md-icon>place</md-icon> Developers Ground
    </button>

    <div class="desktop-toolbar">
        <button md-button (click)="this.core.onRouter('/regist')">
            개발자 등록
        </button>
        <button md-button [mdMenuTriggerFor]="meetupMenu">
            모임 만들기
        </button>
        <md-menu #meetupMenu="mdMenu">
            <button md-menu-item (click)="this.core.onRouter('/create')">
                <span>그룹 스터디 모임</span>
            </button>
            <button md-menu-item (click)="this.core.onRouter('/create')">
                <span>모여서 각자 코딩하기</span>
            </button>
        </md-menu>
    </div>

    <span class="fill-spacer"></span>

    <div class="desktop-toolbar">
        <button md-button (click)="this.core.onRouter('/login')">
            <md-icon>account_box</md-icon> 로그인
        </button>
    </div>    
    <span class="mobile-toolbar">

    <md-button-toggle-group>
    
        <md-button-toggle [mdMenuTriggerFor]="toolbarMenu">
            <md-icon>view_agenda</md-icon>
        </md-button-toggle>

        <md-menu #toolbarMenu="mdMenu">

            <button md-menu-item (click)="this.core.onRouter('/regist')">
                <span>개발자 등록</span>
            </button>
            
            <button md-menu-item (click)="this.core.onRouter('/create')">
                <span>모임 만들기</span>
            </button>

        </md-menu>        

        <md-button-toggle (click)="this.core.onRouter('/login')">
            <md-icon>account_box</md-icon>
        </md-button-toggle>

    </md-button-toggle-group>

    </span>

</md-toolbar>