<mat-toolbar [ngStyle]="scroll" class="toolbar-wrapper">
    <button class="toolbar-main" mat-button (click)="this.core.onRouter('/main')">
        <mat-icon>place</mat-icon> Developers Ground
    </button>

    <div class="desktop-toolbar">
        <button mat-button (click)="this.core.onRouter('/regist')">
            개발자 등록
        </button>
        <button mat-button (click)="this.core.onRouter('/create')">
            모임 만들기
        </button>
    </div>

    <span class="fill-spacer"></span>

    <div class="desktop-toolbar">
        <button mat-button (click)="this.core.onRouter('/login')">
            <mat-icon>account_box</mat-icon> 로그인
        </button>
    </div>    
    <span class="mobile-toolbar">

    <mat-button-toggle-group>
    
        <mat-button-toggle [ngStyle]="scroll" [matMenuTriggerFor]="toolbarMenu">
            <mat-icon>view_agenda</mat-icon>
        </mat-button-toggle>

        <mat-menu #toolbarMenu="matMenu">

            <button mat-menu-item (click)="this.core.onRouter('/regist')">
                <span>개발자 등록</span>
            </button>
            
            <button mat-menu-item (click)="this.core.onRouter('/create')">
                <span>모임 만들기</span>
            </button>

        </mat-menu>        

        <mat-button-toggle [ngStyle]="scroll" (click)="this.core.onRouter('/login')">
            <mat-icon>account_box</mat-icon>
        </mat-button-toggle>

    </mat-button-toggle-group>

    </span>

</mat-toolbar>