.toolbar-wrapper{
    position: fixed;
    top : 0;
    height: 50px;
    color : #fff;    
    background : #4E2A84;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    z-index: 1;
    -webkit-transition:all .3s ease;
       -moz-transition:all .3s ease;
            transition:all .3s ease;     
 }

 .toolbar-wrapper button{
    font-weight: 400;
 }

.toolbar-main{
    font-size: 13px;
}

.desktop-toolbar{
    display: none;
}

.fill-spacer{
    flex : 1 1 auto;
}

md-button-toggle{
   background-color : #4E2A84;   
   color: #fff;
   -webkit-transition:all .3s ease;
      -moz-transition:all .3s ease;
           transition:all .3s ease;     
}

md-button-toggle-group{
   box-shadow: none;
}

@media(min-width: 500px){
    .desktop-toolbar{
        display: inherit;
    }

    .mobile-toolbar{
        display: none;
    }

    .toolbar-main{
        font-size: 14px;
    }
    
}
