<div class="wrapper">
    <div class="box">

        <form>
            <img class="field favicon" src="./assets/icon_ground.png">
            <md-form-field class="field">
                <input mdInput placeholder="Email">
            </md-form-field>

            <md-form-field class="field">
                <input mdInput placeholder="Password" type="password">
            </md-form-field>
            
            <div class="field notice">
                <span>Forgot password?</span>
            </div>

            <button class="field submit" md-button>Login with Email</button>

        </form>


    </div>
</div>