.main-notice{
    position: relative;
    height: 300px;
    text-align: center;
    background-color : #4E2A84;
    color: #fff;
    border-radius: 100px;
    width: 95%;
    margin:auto;
}

.notice-wrapper{
    text-align: left;
    font-size : 1.2rem;
    font-weight: 300;
    margin-left : 10%;
    padding-top: 100px;
}

.notice-wrapper span{
    display: block;
}

svg{ 

    position: absolute;
    fill:#4E2A84;
    /*fill: red;*/
    bottom: -40px;
    margin-left: -30px;
}

@media(min-width: 400px){
    
    .notice-wrapper{
        font-size : 1.6rem;
    }
}

@media(min-width: 550px){
    
    .notice-wrapper{
        font-size : 2.2rem;
    }

    .main-notice{
        width: 100%;
        border-radius: 0;        
    }
}

@media(min-width: 1000px){
    
    .notice-wrapper{
        font-size : 2.5rem;
        text-align: center;
        margin-left : 5%;
    }

    .notice-wrapper span{
        display: inline;
    }

    .main-notice{
        width: 100%;
        border-radius: 0;        
    }
}