<div class="main-header">
  <div class="main-title"><mat-icon>place</mat-icon> <span>Developers Ground</span></div>  
  <div class="main-sub-title">우리 지역 개발자 네트워킹 서비스</div>
  <div class="main-sub-button">

    <svg *ngIf="!isSearch" xmlns="http://www.w3.org/2000/svg" (click)="onSearch()">
      <text x="12%" y="60%">내 주변 개발자 보기</text>
      <rect/>
 
    </svg>

    <div *ngIf="isSearch" class="header-form">
      <form novalidate>
        
        <mat-form-field>
          <mat-icon class="close-icon" (click)="onSearch()">close</mat-icon>
          <input #addressSearchPanel matInput placeholder="지역 검색(동,읍,면)" [(ngModel)]="searchText" [formControl]="searchField" tabindex=1>
        </mat-form-field>

        <div class="list" *ngFor="let item of address | async">
            <button mat-button tabindex=2>
                <span>{{ item.do }}</span> <span>{{ item.si }}</span> <span>{{ item.dong }}</span> <span class="people-icon"> <mat-icon>face</mat-icon> <span>000명</span> </span>
            </button>
        </div>

      </form>
    </div>
    
  </div>
</div>