.main-header{
    position: relative;
    height: 300px;
    text-align: center;
    background : url('https://unsplash.it/1200/800/?image=7&blur') no-repeat fixed 0 0 / cover;
    background-color : #4E2A84;
}

.main-title{
    position: absolute;
    top:25%;
    font-size: 2rem;
    width: 100%;
    font-weight: 600;
    color : #fff;
}

.main-sub-title{
    position: absolute;
    top: 55%;
    width: 100%;
    font-weight: 500;
    color : #fff;
}

.main-sub-button{
    position: absolute;
    top: 65%;
    width: 100%;
}

md-icon{
    font-size: 1.8rem;
}

.main-sub-button .search-button{
    background : #fff;
    color : #4E2A84;
    font-weight: 500;
    -webkit-transition:all .5s ease;
       -moz-transition:all .5s ease;
            transition:all .5s ease;    
}

.main-sub-button .search-button:hover{
    background : #4E2A84;
    color : #fff;
}

.header-form{
    margin:auto;
    width:95%;
    max-width: 300px;
    min-width: 200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.22);    
    padding:5px 20px 5px 20px;     
}

.header-form md-form-field{
    width: 100%;
    color: #4a4a4a;
}

.header-form .close-icon,
.header-form .people-icon{
    position: absolute;
    right: 4px;
}

.header-form .close-icon{
    font-size: 1.5rem;    
    right:-15px;
    top:-16px;
    cursor: pointer;    
}

.header-form .people-icon md-icon{
    vertical-align: middle;
    margin-right: 5px;
}

.header-form button{
    width: 100%;    
    color: #4a4a4a;
    text-align: left;
    font-weight: 400;
}

@media(min-width: 350px){
    .main-title{
        top: 40%;
    }
    
} 