<div class="wrapper">

    <md-vertical-stepper >
    <md-step >
        <form >
        <ng-template mdStepLabel>유형 선택</ng-template>

        <div class="field">
            <br>
            <mat-radio-group>
                <mat-radio-button class="radio-btn" color="primary" value="1">그룹 스터디 모임</mat-radio-button>
                <mat-radio-button class="radio-btn"  color="primary" value="2">모여서 각자 코딩하기</mat-radio-button>
            </mat-radio-group>
        </div>

        <button class="field step-btn" mat-button mdStepperNext>다음으로 이동하기</button>

        </form>
    </md-step>
    <md-step>
        <form>
        <ng-template mdStepLabel>일정 등록</ng-template>

        <mat-form-field class="field">
            <input matInput placeholder="지역명">
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput placeholder="공간명">
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput placeholder="모임 내용">
        </mat-form-field>

        <button class="field step-btn" mat-button mdStepperNext>다음으로 이동하기</button>

        </form>
    </md-step>
    <md-step>
        <ng-template mdStepLabel>일자 선택</ng-template>

        <mat-form-field class="field">
            <input matInput placeholder="모임 일자">
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput placeholder="시작 시간">
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput placeholder="종료 시간">
        </mat-form-field>

        <button class="field step-btn" mat-button mdStepperNext>다음으로 이동하기</button>         

    </md-step>
    <md-step>
        <ng-template mdStepLabel>확인</ng-template>

        <mat-list>

            <h3 matSubheader>작성하신 내용이 맞으십니까?</h3>
                         
            <mat-list-item>
                <mat-icon mat-list-icon>done</mat-icon>
                <h4 matLine>유형</h4>
                <p matLine> 모여서 각자 코딩하기</p>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>place</mat-icon>
                <h4 matLine>지역명</h4>
                <p matLine>서울 특별시 강남구 삼성동</p>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <h4 matLine>공간명</h4>
                <p matLine>토즈</p>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>local_library</mat-icon>
                <h4 matLine>모임내용</h4>
                <p matLine>모여서 각자 코딩 후 간단 성과 발표</p>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>timer</mat-icon>
                <h4 matLine>시작 시간</h4>
                <p matLine> 오후 7시 30분</p>
            </mat-list-item>                                                                                          

            <mat-list-item>
                <mat-icon mat-list-icon>timer_off</mat-icon>
                <h4 matLine>종료 시간</h4>
                <p matLine> 오후 10시 00분</p>
            </mat-list-item>

        </mat-list>

        <button class="field step-btn" mat-button mdStepperNext>모임 생성</button>                
        
    </md-step>    
    </md-vertical-stepper>
    
</div>