<div mat-dialog-content>
  
  <p>이미지 링크를 기입해주세요</p>
  
  <mat-form-field *ngIf="!typeFlag">
    <input #urlPanel matInput [(ngModel)]="data.url" placeholder="URL">
  </mat-form-field>

  <mat-form-field *ngIf="typeFlag">
    <input #githubPanel matInput [(ngModel)]="data.github" placeholder="Github Name">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  
  <button mat-button [matDialogClose]="data">확인</button>
  <button mat-button (click)="onNoClick()">닫기</button>
  <button mat-button (click)="onGithub()">
    <span>{{ typeString }}</span>
  </button>

</div>